<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="container">
<header class="page-header">
    <h1>
        <a href="https://gitlab.com/citygro/vue-modal">
            <%= htmlWebpackPlugin.options.title %>
        </a>
    </h1>
</header>
<div id="root" class="row"></div>
</body>
</html>
